src/main/mule/git-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="35c7e081-737e-449d-a0c0-a6c2be9ac547" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-pocFlow" doc:id="975d829e-ff6e-4cb8-8b4a-6e9f4459c302" >
		<http:listener doc:name="Listener" doc:id="e76a129e-15ea-45ea-b305-f74eeab58d7b" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value='#["I am into the action"]' doc:name="Set Payload" doc:id="7848ac42-1a4b-4175-9a1b-14a5d28f94a5" />
		<logger level="INFO" doc:name="Logger" doc:id="fcca1fa4-fe01-4d85-baf7-158304fbdefa" message="End Flow"/>
	</flow>
</mule>
